{% extends 'base.html.twig' %}
{% block body %}
    <h1>list Post</h1>
    <table>
        <thead>
        <tr>
            <th>title</th>
            <th>view</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td><a href="{{ path('viewPost', { 'slug':post.slug}) }}">{{ post.slug }}</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}