{% extends 'base.html.twig' %}
{% block title %}View Post{% endblock %}
{% block body %}
    <h1>view Post</h1>
    <h2><a href="{{ path('listPost') }}">return list</a></h2>
    <p>{{ post.title }}</p>
    <p>{{ post.content }}</p>
{% endblock %}